* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
 width: 100vw;
 height: 200vh;
 background-position: right bottom, left top;
 background-image: linear-gradient(to top, #83C9F4, #D9F0FF);
 /* background-image: url(/img/relaxing\ sea.gif);
 background-repeat: no-repeat;
 background-size: cover;
 background-position: fixed; */
 position: relative;
 font-family: 'Pirata One', cursive;

}

nav {
    width: 100vw;
    height: 10vh;
    background-color: #D9F0FF;
    position: fixed;
    border-style: ridge;
    border-color: #7681B3;
    /* display: flex;
    justify-content: space-between; */
    z-index: 2;
}

.logo {
    width: 5vw;
    mix-blend-mode: multiply;
}

li:hover > ul.drop-menu li {
    display: flex;
    flex: 1;
}
li > ul.drop-menu {
    position: absolute;
    display: flex;
    left: 0;
    top: 100%;
    width: 100%;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: #D9F0FF;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #D9F0FF;
    min-width: 100%;
    /* overflow: auto; */
    box-shadow: 0px 8px 16px 0px #83C9F4;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #8eb2ca}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #D9F0FF;
  }

nav ul {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav a:link {
    font-size: 5rem;
    color: #83C9F4;
    text-decoration: none;
}

nav a:visited {
    color: #83C9F4;
}

nav a:hover {
    color: #7681B3
}

h1 {
    font-size: 5rem;
    color: #D9F0FF;
    height: 17.5vh;
    width: 100vw;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #83C9F4;
    border-color: #000000;
    border-style: ridge;
}

h3 {
    font-size: 6rem;
    display: flex;
    justify-content: center;
    color: #000000;
}

.section1 {
    width: 40vw;
    height: 40vh;
    border-style: ridge;
    border-radius: 2rem;
    border-color: black;
    background-color: #83C9F4;
    box-shadow: 1rem 1rem 0.5rem black;
    margin: 5rem;
}

.section1 p {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: #000000;
}

.section2 {
    width: 40vw;
    height: 40vh;
    border-style: ridge;
    border-radius: 2rem;
    border-color: black;
    background-color: #83C9F4;
    box-shadow: 1rem 1rem 0.5rem black;
    margin: 5rem;
}

.section2 p {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: #000000;
}

.sections12 {
    display: flex;
}

.section3 {
    overflow-y: hidden;
    width: 20vw;
    height: 40vh;
    border-style: ridge;
    border-radius: 2rem;
    border-color: black;
    background-color: #83C9F4;
    box-shadow: 1rem 1rem 0.5rem black;
    margin: 5rem;
}

.section3 img {
    width: 30vw;
    height: 40vh;
}

.section4 {
    overflow-y: hidden;
    width: 20vw;
    height: 40vh;
    border-style: ridge;
    border-radius: 2rem;
    border-color: black;
    background-color: #83C9F4;
    box-shadow: 1rem 1rem 0.5rem black;
    margin: 5rem;
}

.section4 img {
    width: 38rem;
    height: 40vh;
}

.section5 {
    overflow-y: hidden;
    width: 20vw;
    height: 40vh;
    border-style: ridge;
    border-radius: 2rem;
    border-color: black;
    background-color: #83C9F4;
    box-shadow: 1rem 1rem 0.5rem black;
    margin: 5rem;
}

.section5 img {
    width: 37.5rem;
    height: 40vh;
}

.section6 {
    overflow-y: hidden;
    width: 20vw;
    height: 40vh;
    border-style: ridge;
    border-radius: 2rem;
    border-color: black;
    background-color: #83C9F4;
    box-shadow: 1rem 1rem 0.5rem black;
    margin: 5rem;
}

.section6 img {
    width: 40rem;
    height: 40vh;
}
.sectionspics {
    display: flex;
}

.section7, .section8, .section9, .section10 {
    border-style: ridge;
    background-color: #D9F0FF;
}

.section7 p, .section8 p, .section9 p, .section10 p {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}